<h1>Add a Book to "<%= @wishlist.name %>"" List</h1>

<%= simple_form_for [@wishlist, @bookmark] do |f| %>
  <%= f.association :book %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", wishlist_path(@wishlist) %>
