<h1>Bookings#index</h1>
<% @bookings.each do |booking|%>
  <%= booking.book.title %>
  <p>starting rent date: <%= booking.rent_date %></p>
  <p>Return Date: <%= booking.return_date %></p>
  <p>Price: <%= rent_price(booking) %></p>
  <p>Status: <%= booking.confirmation %></p>
<% end %>
<h1>Owner bookings</h1>
<% @owner_bookings.each do |booking|%>
  <%= booking.book.title %>
  <p>starting rent date: <%= booking.rent_date %></p>
  <p>Return Date: <%= booking.return_date %></p>
  <p>Price: <%= rent_price(booking) %></p>
  <%= simple_form_for booking do |f| %>
    <%= f.input :confirmation, collection: @status %>
    <%= f.submit %>
  <% end %>
<% end %>
