<div class="container form-card">
  <%= simple_form_for @book do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.input :price_per_day, placeholder: 'Price to rent the book per day', as: :numeric %>
    <%= f.input :photo, as: :file %>
    <div class="d-flex justify-content-between">
      <%= f.submit 'Create', class: "btn btn-default btn-success"%>
      <%= link_to 'back', root_path, class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
