<div class="banner d-flex justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @book.photo.key || "" %>'); background-size: contain;">
  <h1><%= @book.title %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container mt-5 description">
        <div class="h2-text-container">
          <h3 class="pb-2">Description:</h3>
          <%= link_to "Back", root_path, class: "btn btn-primary" %>
        </div>
        <div class="description-body">
          <i class="fas fa-quote-left"></i><p> <%= @book.description %> </p><i class="fas fa-quote-right d-flex justify-content-end"></i>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="col-4">
        <div class="card-body bg-white border card-sticky container-book-show">
          <%= link_to "Book Now", new_book_booking_path(@book), class: "btn btn-primary w-100" %>
          <% if @book.bookings.size >= 1 %>
            <% @book.bookings.each do |booking| %>
              <div class="d-flex justify-content-between pt-3 border-bottom">
                <p>Unavailable from: <%= booking.rent_date %> to <%= booking.return_date %></p>
              </div>
            <% end %>
          <% else %>
              <div class="d-flex justify-content-between pt-3 border-bottom">
                <p>Available</p>
              </div>
          <% end %>
          <div class="d-flex justify-content-between pt-3">
            <p><strong>Price per Day</strong></p>
            <p><strong><%= @book.price_per_day %></strong> <i class="fas fa-dollar-sign"></i></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-4">
        <div class="card-body bg-white border card-sticky container-book-show">
          <%= link_to "Book Now", user_session_path, class: "btn btn-primary w-100" %>
          <% if @book.bookings.size >= 1 %>
            <% @book.bookings.each do |booking| %>
              <div class="d-flex justify-content-between pt-3 border-bottom">
                <p>Unavailable from: <%= booking.rent_date %> to <%= booking.return_date %></p>
              </div>
            <% end %>
          <% else %>
              <div class="d-flex justify-content-between pt-3 border-bottom">
                <p>Available</p>
              </div>
          <% end %>
          <div class="d-flex justify-content-between pt-3">
            <p><strong>Price per Day</strong></p>
            <p><strong><%= @book.price_per_day %></strong> <i class="fas fa-dollar-sign"></i></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mx-4"
    style="width: 800px; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @marker.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<br><br><br><br><br><br><br><br><br><br>
